{% extends "base_2col.html" %}

{% block title %}Page unavailable{% endblock %}

{% block content %}

<h2>Σελίδα μη διαθέσιμη</h2>

<p>Λυπούμαστε, αλλά η σελίδα που ζητήσατε δεν είναι διαθέσιμη. Αυτό οφείλεται πιθανόν επειδή πειράζουμε κάποιες ρυθμίσεις αυτήν τη στιγμή και ο εξυπηρετητής τα έχει παίξει λίγο.</p>

<p>Παρακαλούμε δοκιμάστε αργότερα.</p>

<p>Αν πιστεύετε ότι είναι κάποιο πρόβλημα που πιθανόν να μην το ξέρουμε, παρακαλούμε επικοινωνήστε με το <a href="mailto:webmaster_στο_django_τελεία_gr">διαχειριστή του ιστότοπου</a>.</p>


{% endblock %}
