{% extends "base_2col.html" %}

{% block cssid %}homepage{% endblock %}

{% block sectionid %}homepage{% endblock %}

{% block billboard %}
<!--<h2>Django: Η πλατφόρμα ανάπτυξης Web εφαρμογών για τελειομανείς (με προθεσμίες). <span>Χτίστε καλύτερες ιστοσελίδες, πιο γρήγορα και με λιγότερο κώδικα.</span></h2>-->
<h2>Καλώς ήρθατε στην Ελληνική κοινότητα Django. <span>Χτίστε καλύτερες ιστοσελίδες, πιο γρήγορα και με λιγότερο κώδικα με το Django.</span></h2>
{% endblock %}

{% block content %}
<h1>Ανακαλύψτε το Django</h1>

<h2 class="deck">Το Django είναι μια πλατφόρμα υψηλού επιπέδου σε Python. Προωθεί τη γρήγορη ανάπτυξη λογισμικού και τον καθαρό, πρακτικό σχεδιασμό.</h2>

<p>Ανεπτυγμένο και χρησιμοποιημένο για πάνω από δύο χρόνια από ένα ταχύρυθμο οργανισμό online ειδησιογραφίας, το Django σχεδιάστηκε για να χειρίζεται δύο προκλήσεις: τις έντονες προθεσμίες της δημοσιογραφικής ανταπόκρισης και τις αυστηρές απαιτήσεις των <a href="http://www.djangoproject.com/documentation/faq/#who-s-behind-this">έμπειρων Web developers που το έγραψαν</a>.</p>

<p>Το Django έχει ως στόχο την έντονη αυτοματοποίηση όπου είναι δυνατόν και την πιστή τήρηση της αρχής «<a href="http://c2.com/cgi/wiki?DontRepeatYourself">Μην επαναλαμβάνεσαι</a>». Σας επιτρέπει να χτίσετε γρήγορα κομψές ιστοσελίδες υψηλής επίδοσης.</p>

<p>Ξεκινήστε αμέσως διαβάζοντας <a href="http://www.djangoproject.com/documentation/overview/">τη γενική επισκόπηση</a>. Όταν είστε έτοιμοι να γράψετε κώδικα, διαβάστε τον <a href="http://www.djangoproject.com/documentation/install/">οδηγό εγκατάστασης</a> και το <a href="http://www.djangoproject.com/documentation/tutorial1/">tutorial</a>.</p>

<div id="content-secondary">
	<h2>Η Ελληνική κοινότητα Django</h2>

  <p>Το πρόσφατα δημιουργημένο ελληνικό Django User Group έχει ως σκοπό να αποτελέσει σημείο συνάντησης των ελληνόφωνων προγραμματιστών του Django.</p>

  <p>Η κύρια ομάδα συζητήσεων του user group μας είναι η <a href="http://groups.google.com/group/django-gr">django-gr</a>. Για να γραφείτε, στείλτε ένα κενό email στο <a href="mailto:django-gr-subscribe@googlegroups.com">django-gr-subscribe@googlegroups.com</a>.</p>
  
</div>
<!-- END #content-secondary -->
{% endblock %}

{% block content-related %}

<!--
<h2>Λήψη</h2>
<ul class="linklist">
    <li class="button-download"><a href="/download/">Τελευταία κυκλοφορία: <strong>0.96</strong></a></li>
</ul>
<p>Ελεύθερο λογισμικό, <a href="http://code.djangoproject.com/browser/django/trunk/LICENSE">άδεια χρήσης BSD</a></p>
-->

<h2>The Greek Django community</h2>
<p>django.gr aims the meeting point for greek Django developers. A Django user group in Greece if you'd like, with a goal of bringing greek Django developers together and spreading the word for the framework in the greek-speaking world.</p>
<p>For more information on Django in english, please visit the <a href="http://www.djangoproject.com/">official website of the Django</a>.</p>
<h3>Disclaimer</h3>
<p><a href="http://www.ljworld.com/">Lawrence Journal-World</a> is not responsible for the content of this website.</p>
    		

{% endblock %}

